body {
  box-sizing: border-box;
}
/* DESKTOP RULES */
@media screen and (min-width: 768px) {
  #calcSection {
    background-color: antiquewhite;
    width: fit-content;
  
    position: absolute;
    position:fixed;
    top:20%;
    left:20%;
    min-width: 500px;
    max-width: 800px;
  }

  #mainContent {
    background-image: url(/texture.jpg);
    height: 100vh;

  }

  #buttonSection {
    margin: 0;
    padding: 0;
    font-size: 0;
  }

  #buttonSection button {
    width: 20%;
    height: 4rem;
    margin: 0;
    padding: 0;
    font-size: 1.75rem;
    border-radius: 0;
    border: solid black 0.1rem;
  }
  #buttonSection button:disabled {
    width: 20%;
    height: 4rem;
    margin: 0;
    padding: 0;
    font-size: 1.75rem;
    border-radius: 0;
    border: solid black 0.1rem;
  }

  #row {
    display: flex;
  }
  #row1 {
    width: 80%;
  }

  #row1 button:disabled {
    width: 25%;
  }

  #row2 {
    width: 20%;
  }
  #row1 button {
    width: 25%;
  }
  #row2 button {
    width: 100%;
  }

  #buttonSection .double1 {
    width: 100%;
    height: 8rem;
  
    margin: 0;
    padding: 0;
    font-size: 1.75rem;
    border-radius: 0;
    border: solid black 0.1rem;
  }

  #lastResultView {
    padding: 0.25rem;
    font-size: 2.5rem;
    color: red;
    font: bold;
    word-wrap: break-word;
  }
  hr {
    margin: 0;
    padding: 0;
  }

  #resultView {
    max-width: 100%;
    font-size: 3rem;
    padding: 0.25rem;
    height: 100px;
    word-wrap: break-word;
  }

  #miscSection {
    font-weight: bolder;
  }

  #mobileVersion {
    text-align: left;
    width: 40%;
    display: none;
  }

  #desktopVersion {
    text-align: left;
    width: 40%;
  }
}
