body {
  box-sizing: border-box;
}
/* DESKTOP RULES */
@media screen and (min-width: 768px) {
  .calcSection {
    width: 100%;
  }

  #calcSection {
    background-color: antiquewhite;
    width: fit-content;
    position: center;
    position: absolute;
    top: 10%;
    left: 5%;
    border: 1rem solid darkgray;
  }

  #mainContent {
    background-image: url(/texture.jpg);
    height: 100vh;
  }

  #buttonSection {
    margin: 0;
    padding: 0;
    font-size : 0;
  }
  #buttonSection button {
    width: 4rem;
    height: 4rem;
    margin: 0;
    padding: 0;
    font-size: 1.75rem;
    border-radius: 0;
    border: solid black .1rem;
    
  }

  .jumbotron {
    height: 15rem;
  }

  #lastResultView {
    padding: 0;
    font-size: 2rem;
    color: red;
    font: bold;
  }
}
