body {
  box-sizing: border-box;
}
/* MOBILE RULES */
@media screen and (max-width: 768px) {
  body {
    width: 100%;
    min-width: 336px;
    max-width: 336px;
  }

  #calcSection {
    background-color: antiquewhite;
    width: 100%;

    align-content: center;
    border: 0.5rem solid black;
  }

  #mainContent {
    background-image: url(/texture.jpg);
    height: 100vh;
  }

  #buttonSection {
    margin-left: 0%;
    padding: 0;
    font-size: 0;
    align-content: stretch;
  }
  #buttonSection button {
    width: 4rem;
    height: 4rem;
    margin: 0;
    padding: 0;
    font-size: 1.75rem;
    border-radius: 0;
    border: solid black 0.1rem;
  }
  .double {
    border-top: none !important;
    border-bottom: none !important;
  }

  .jumbotron {
    height: 15rem;
    width: inherit;
    
  }

  #resultview {
    font-size: 1rem !important;
  }

  #lastResultView {
    padding: 0;
    font-size: 2rem;
    color: red;
    font: bold;
  }
  #miscSection {
    font-weight: bolder;
  }

  #mobileVersion {
    text-align: left;
    width: 40%;
  }

  #desktopVersion {
    text-align: left;
    width: 40%;
    display: none;
  }
}
